.container-navbar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-text {
    writing-mode: vertical-lr;
    text-orientation: sideways-right
}

.p1 {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}