@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/** Containers **/

.container-1 {
  margin: 1rem;
}

.container-3 {
  margin: 3rem;
}

/** Flexbox **/

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

/** Text decation **/

.text-none {
  text-decoration: none;
}

/** Color transition **/

.color-transition {
  -webkit-transition: color 2s ease-out;}

.color-transition:hover {
  color: #377377;
}

/** Float **/

.float {
  float: right;
  width: 100px;
}