@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

/** Containers **/

.container-1 {
  margin: 1rem;
}

.container-3 {
  margin: 3rem;
}

/** Flexbox **/

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

/** Text decation **/

.text-none {
  text-decoration: none;
}